
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<html lang="en">
		<title>Tic Tac toe app</title>
		<link rel="stylesheet" type="text/css" href="index.css">
	</head>
	<body>
		<div class="wrapper" id="app">
			<table id="board">
				<tr v-for='row in board'>
					<td v-for='box in row'>
					<div class="square"@click='mark(box)'>
						{{box.val}}
						</div>

					</td>
				</tr>
			</table>
			<div>{{finalMessage}}</div>
			<button id= 'reset-button'@click="reset">Reset</button>
		</div>
		
		<script src="vue.js"></script>
		<script src="index.js"></script>
	</body>
</html>			